@import "./transitions.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter var", sans-serif;
    /* @apply font-main; */
  }
}
:root {
  background: var(--bg);
}

hr {
  border: 0;
  border-top: 1px solid var(--fg);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
a {
  /* font-weight: 600; */
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
